body {
  margin: 1em;
}

#wrapper {
  display: grid;
  grid-template-columns: 6fr 4fr;
}

#menu ol {
  /* list-style: none; */
}

#menu li {
  margin-bottom: 0.5rem;
}
#menu li:hover,
#menu li.current {
  background: #ddd;
}
#menu {
  height: 80vh;
  overflow-y: scroll;
}
